- when: ansible_distribution == 'Ubuntu' and mariadb.repository.apt.repository
  block:
    - name: Install gpg
      apt:
        name: gpg

    - name: Add MariaDB repository key
      apt_key:
        url: "{{ mariadb.repository.apt.key_url }}"

    - name: Add MariaDB repository
      loop:
        - /etc/apt/sources.list.d/mariadb.list
      copy:
        content: |
          {{ mariadb.repository.apt.repository }}
        dest: "{{ item }}"
      register: mariadb_add_apt_repository

    - name: Update apt cache
      apt:
        update_cache: yes
      when: mariadb_add_apt_repository.changed

- when:
    - ansible_distribution == 'Ubuntu'
    - not mariadb.galera.arbitrator
  block:
    - name: Ensure data dir is mounted before MariaDB is started
      loop:
        - /etc/systemd/system/mariadb.service.d/UnitRequiresMountsFor.conf
      ini_file:
        path: "{{ item }}"
        create: yes
        section: Unit
        option: RequiresMountsFor
        value: /var/lib/mysql

    - name: Install MariaDB
      apt:
        name:
          - mariadb-server
          - python3-pymysql

- name: Install garb
  when:
    - ansible_distribution == 'Ubuntu'
    - mariadb.galera.arbitrator
  apt:
    name:
      - galera-arbitrator-3
