---
- name: Set up MariaDB repository (Debian/Ubuntu)
  when:
    - ansible_facts['os_family'] == 'Debian'
    - mariadb.repository.apt.repository is defined and mariadb.repository.apt.repository != None
  block:
    - name: Install requirements for MariaDB
      ansible.builtin.apt:
        update_cache: yes
        name:
          - gpg
          - gpg-agent
          - python3-debian

    - name: Remove the legacy MariaDB repository
      ansible.builtin.file:
        dest: /etc/apt/sources.list.d/mariadb.list
        state: absent

    - name: Add MariaDB repository
      register: mariadb_add_apt_repository
      ansible.builtin.deb822_repository:
        name: "mariadb"
        uris: "{{ mariadb.repository.apt.repository }}"
        signed_by: "{{ mariadb.repository.apt.key_url }}"
        types: [deb]
        components: [main]
        suites: "{{ ansible_facts['distribution_release'] }}"
        state: present
        enabled: yes

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
      when: mariadb_add_apt_repository.changed

- name: Install MariaDB (Debian/Ubuntu)
  when:
    - ansible_facts['os_family'] == 'Debian'
    - not mariadb.galera.arbitrator
  block:
    - name: Ensure data dir is mounted before MariaDB is started
      loop:
        - /etc/systemd/system/mariadb.service.d/UnitRequiresMountsFor.conf
      community.general.ini_file:
        path: "{{ item }}"
        create: yes
        section: Unit
        owner: root
        mode: "0644"
        option: RequiresMountsFor
        value: /var/lib/mysql

    - name: Install MariaDB
      ignore_errors: "{{ ansible_check_mode }}"
      ansible.builtin.apt:
        name:
          - mariadb-server
          - python3-pymysql

- name: Install garb (Debian/Ubuntu)
  when:
    - ansible_facts['os_family'] == 'Debian'
    - mariadb.galera.arbitrator
  block:
    - name: Insatll galera-arbitrator
      ansible.builtin.apt:
        name:
          - galera-arbitrator-4
